* {
    font-family: Arial;
}

h1 {
    color: blue;
}

.red {
    color: red;
}

.box {
    height: 100px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: yellow;
}

.background {
    background-color: rgba(76, 175, 80, .2);
}